<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentationMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DocumentationMapper.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DocumentationMapper.Properties.Settings>
            <setting name="JIRA_API" serializeAs="String">
                <value>http://jirapd.corp.resmed.org/rest/api/2/</value>
            </setting>
            <setting name="JIRAUsername" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="JIRAPassword" serializeAs="String">
                <value>pass</value>
            </setting>
        </DocumentationMapper.Properties.Settings>
        <DocumentationMapper.Settings1>
            <setting name="JIRA_API" serializeAs="String">
                <value>http://jirapd.corp.resmed.org/rest/api/2/</value>
            </setting>
        </DocumentationMapper.Settings1>
    </userSettings>
</configuration>